body {
    background-color: black;
    text-color: white;
    text-align: center;
}

button {
    align: center;
    font-size: 28px;
}

#settings {
    color: white;
    font-size: 28px;
}

#cube {
    width: 100%;
}
