body {
    background-color: black;
    text-color: white;
    text-align: center;
}

button {
    align: center;
    font-size: 28px;
	background-color: white;
	border-width: 3px 3px 3px 3px;
	border-color: grey;
	border-radius: 5px;
	box-shadow: 0px;
	color: black;
}

canvas{
    display: block;
    margin: 0 auto;
}

table {
 	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 25px;
	border: 1px solid white;
	table-layout: auto;
}

th, td {
	font-size: 25px;
	border: 1px solid white;
	padding: 3px;
}

p {
	font-size: 25px;
	color: white;
	margin: 0;
}

#settings {
    color: white;
    font-size: 28px;
}

#cube {
    width: 100%;
}

button[disabled=disabled], button:disabled {
	background-color: white;
	border-radius: 5px;
	border-color: grey;
	box-shadow: 0px;
	color: black;
}
